# 解决 pnpm 软链接导致原生模块找不到依赖的问题
node-linker=hoisted

# 既然切回官方源，确保配置对齐
# registry=https://registry.npmjs.org/
# electron_mirror=https://github.com/electron/electron/releases/download/

# 自动处理 peerDependencies
auto-install-peers=true